body{
    background-color: darkcyan;
    background-image: url("img/esporte-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 5000px;
}
div{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background: url("img/esporte-4.jpeg") no-repeat center;
    background-size: cover;
    box-shadow: 10px 10px 5px #000;
}