 .interna_portfolio{
     background-size: cover;
     background: url("../img/bg-portfolio.jpg") no-repeat center;
 }

 .quote_clientes{
    padding: 60px 0;
    max-width: 460px;
    margin: 0 auto;
}

.quote_clientes p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 25px;
    font-style: italic;
    margin-bottom: 20px;
}
.quote_clientes cite{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    float: right;
    font-style: normal;
}